

:root{
    --main-white: #f0f0f0;
    --secondary-white: #F5F5F7;
    --main-red: #ca112a;
    --main-blue: #0563BB;
    --main-gray: #6e6e73;
    --secondary-gray: #626B75;
    --main-black: #1d1d1d;
    --main-gold: #ffc107;
    --footer-grey: #252525;
    
}



body{

  font-family: SF Pro Display, SF Pro Icons, -apple-system, system-ui,  BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  overflow: auto;
  letter-spacing: -.003em;
  line-height: 1.08349;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #fff;
  }
  
  #preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #0563bb;
    border-top-color: #fff;
    border-bottom-color: #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
  }

  @-webkit-keyframes animate-preloader {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes animate-preloader {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }

  @-webkit-keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }

  .rounded-full{
    border-radius: 50%;
  }

/* Para móviles */
@media screen and (max-width:767px){

    [data-aos-delay] {
        transition-delay: 0 !important;
      }

      /* NAVBAR */
.nav{
    position: absolute;
    display: block;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--main-black);
    box-shadow: 0 2px 0 var(--main-gold);
    z-index: 10;
}


li{
    margin-right: 1rem;
}
    
.nav-list{
    display: flex;
    margin-right: 2rem;
    margin-bottom: 0px;
}

ul{
    list-style: none
}


.nav-list a {
    display: block;
    font-size: 1rem;
    padding: 1rem;
    text-decoration: none;
    color: var(--main-white);
    
  }

  
.nav-list a:hover{
    background-color: var(--main-gold);
    transition: all 0.3s;
    color: var(--main-white);
}
.nav-list a:focus{
    background-color: var(--secondary-gray);
}

.nav-list a i{
    margin-right: 0.5rem;

}

.indicador{
  display: none;
}


/* HERO */

.btn-download {
  display: inline-block;
  padding: 15px 22px;
  background: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
  border: 1px solid var(--main-blue);
  margin-top: 50px;
  margin-bottom: 5px;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  border-radius: 50px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: all background-color 0.4s ease-in-out;
}

.btn-download:active {
  background-image: linear-gradient(30deg, #3a3d40 0%, #181719 100%);
  color: var(--main-gold);
  transition: all 1s;
}

#update{
  font-size: 12px !important;
  margin-bottom: 20px !important;
}

#email{
  font-size: 16px !important;
  font-weight: 500 !important;
  color: var(--main-black) !important;
  padding-top: 0px !important;
  padding: 23px !important;
}

#hero {
    width: 100%;
    height: 100vh;
    background: url("../img/hero-bg.jpg") top right no-repeat;
    background-size: cover;
    position: relative;
    z-index: 0;
   
  }
  
  .container{
    padding: 1.5rem;
    text-align: center;
    z-index: 1;
  }

  
  #hero:before {
    content: "";
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  
  #hero h1 {
    margin: 0;
   
    font-size: 40px;
    font-weight: 700;
    line-height: 56px;
    color: var(--main-gray);
    z-index: 1;
  }
  
  #hero p {
    color: #45505b;
    margin: 15px 0 0 0;
    font-size: 26px;
    font-family: "Poppins", sans-serif;
  }
  
  #hero p span {
    color: #0563bb;
    letter-spacing: 1px;
  }
  
  #hero .social-links {
    margin-top: 30px;
  }
  
  #hero .social-links a {
    font-size: 34px;
    display: inline-block;
    color: #45505b;
    line-height: 1;
    margin-right: 20px;
    transition: 0.3s;
    
  }
  
  #hero .social-links a:hover {
    color: #0563bb;
    ;
  }
  


  /*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
    padding: 60px 0;
    overflow: hidden;
  }
  
  .section-title {
    text-align: center;
    padding-bottom: 30px;
  }
  
  .section-title h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #45505b;
  }
  
  .section-title h2::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
  }
  
  .section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: var(--main-gold);
    bottom: 0;
    left: calc(50% - 20px);
  }
  
  .section-title p {
    margin-bottom: 0;
  }

  /* ABOUT */

  .about{
    background-size: cover;
    position: relative;
    z-index: 0;
  }

  .about-card{
    box-shadow: 2px 4px 12px rgba(0,0,0,.08);
    transition: all .3s cubic-bezier(0,0,.5,1);
    position: relative;
    overflow: hidden;
    background-color: black;
    border-radius: 25px;
    padding: 20px;
    margin: 20px;
    white-space: normal;
  }

  .answer{
    color: var(--main-gold) !important;
    margin-bottom: 10px !important;
  }

  
  .about::before{
    content: "";
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }

  .about h2 {
    color: var(--main-white);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .about p {
    color: var(--main-white);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  }

  .about .content ul {
    list-style: none;
    padding: 0;
    color: var(--main-white);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .about .content ul li {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    color: #ffc107;
    letter-spacing: 1px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .about .content ul strong {
    margin-right: 10px;
    color: var(--main-white);

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .about .content ul i {
    font-size: 16px;
    margin-right: 5px;
    color: white;
    line-height: 0;
  }
  
  .about .content p:last-child {
    margin-bottom: 0;
  }

  .about-icon{
    z-index: 100;
    width: 60px;
    float: right;
  }

  /* Skills */

  .skills{
    background-size: cover;
    position: relative;
    z-index: 0;
    background: linear-gradient(80deg, var(--main-white), 85%, pink);
  }

  .skills .section-title h2::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: var(--main-gray);
    bottom: 1px;
    left: calc(50% - 60px);
  }
  
  .skills__container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
 
  }
  
  .skills__item {
    width: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all .3s;
    border: 1px solid transparent;
  }
  
  .skills .progress {
    height: 60px;
    display: block;
    background: none;
    border-radius: 0;
  }
  
  .skills__icon {
    width: 2rem;
    height: 2rem;
    object-fit: contain;
  }
  
  .skills .progress .skill {
    padding: 10px 0;
    margin: 0;
    text-transform: uppercase;
    display: block;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: #45505b;
  }
  
  .skills .progress .skill .val {
    float: right;
    font-style: normal;
  }
  
  .skills .progress-bar-wrap {
    background: #f2f3f5;
  }
  
  .skills .progress-bar {
    width: 1px;
    height: 10px;
    transition: 0.9s;
    background-color: #0563bb;
  }

  .card-skill{
    box-shadow: 2px 4px 12px rgba(0,0,0,.08);
    transition: all .3s cubic-bezier(0,0,.5,1);
    position: relative;
    overflow: hidden;
    background-color: #fff;
    border-radius: 25px;
    padding: 20px;
    margin: 20px;
    white-space: normal;
  }

  /*--------------------------------------------------------------
# Resume
--------------------------------------------------------------*/

.resume{
  background: linear-gradient(90deg, #0f3443, #34e69f);
}

#experiencia-title{
  color: var(--main-white);
}
.resume .resume-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #45505b;
}

.resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #0563bb;
  position: relative;
}

.resume .resume-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #0563bb;
  margin-bottom: 10px;
}

.resume .resume-item h5 {
  font-size: 16px;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}

.resume .resume-item ul {
  padding-left: 20px;
}

.resume .resume-item ul li {
  padding-bottom: 10px;
}

.resume .resume-item:last-child {
  padding-bottom: 0;
}

.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #fff;
  border: 2px solid #0563bb;
}
    
.experience-icon{
  width: 150px;
  margin-bottom: 20px;
}

/* Footer */

#footer {
  background: var(--footer-grey);
  color: var(--main-white);
  font-size: 14px;
  text-align: center;
  padding-bottom: 30px;
}

#footer h3 {
  font-size: 36px;
  font-weight: 700;
  position: relative;
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0 0 15px 0;
}

.line{
  width: 100%;
  position: relative;
  height: 2px;
  background: var(--main-gold);

}




#footer p {
  font-size: 20px !important;
  font-style: italic;
  padding: 0;

}

#footer .social-links {
  margin: 40px 0 40px 0;
}

#footer .social-links a {
  font-size: 22px;
  display: inline-block;
  background: #0563bb;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 16px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  background: #0678e3;
  color: #fff;
  text-decoration: none;
}

#footer .copyright {
  margin: 0 0 5px 0;
}

#footer .credits {
  font-size: 16px;
}


}









/* Para tablets */
@media screen and (min-width: 768px) and (max-width:1023px) {   

  [data-aos-delay] {
    transition-delay: 0 !important;
  }

  /* NAVBAR */
.nav{
position: absolute;
display: block;
justify-content: center;
position: fixed;
top: 0;
left: 0;
width: 100%;
background: var(--main-black);
box-shadow: 0 2px 0 var(--main-gold);
z-index: 10;
}


li{
margin-right: 1rem;
}

.nav-list{
display: flex;
margin-right: 2rem;
margin-bottom: 0px;
}

ul{
list-style: none
}


.nav-list a {
display: block;
font-size: 1rem;
padding: 1rem;
text-decoration: none;
color: var(--main-white);

}


.nav-list a:hover{
background-color: var(--main-gold);
transition: all 0.3s;
color: var(--main-white);
}
.nav-list a:focus{
background-color: var(--secondary-gray);
}

.nav-list a i{
margin-right: 0.5rem;

}



/* HERO */

.btn-download {
display: inline-block;
padding: 15px 22px;
background: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
border: 1px solid var(--main-blue);
margin-top: 50px;
margin-bottom: 5px;
color: #fff;
text-decoration: none;
font-size: 18px;
border-radius: 50px;
box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
transition: all background-color 0.4s ease-in-out;
}

.btn-download:foc {
background-image: linear-gradient(30deg, #3a3d40 0%, #181719 100%);
color: var(--main-gold);
transition: all 1s;
}

#update{
font-size: 12px !important;
margin-bottom: 20px !important;
}

#email{
font-size: 16px !important;
font-weight: 500 !important;
color: var(--main-black) !important;
padding-top: 0px !important;
padding: 23px !important;
}

#hero {
width: 100%;
height: 100vh;
background: url("../img/hero-bg.jpg") top right no-repeat;
background-size: cover;
position: relative;
z-index: 0;

}

.container{
padding: 1.5rem;
text-align: center;
z-index: 1;
}


#hero:before {
content: "";
background: rgba(255, 255, 255, 0.8);
position: absolute;
bottom: 0;
top: 0;
left: 0;
right: 0;
}

#hero h1 {
margin: 0;

font-size: 40px;
font-weight: 700;
line-height: 56px;
color: var(--main-gray);
z-index: 1;
}

#hero p {
color: #45505b;
margin: 15px 0 0 0;
font-size: 26px;
font-family: "Poppins", sans-serif;
}

#hero p span {
color: #0563bb;
letter-spacing: 1px;
}

#hero .social-links {
margin-top: 30px;
}

#hero .social-links a {
font-size: 34px;
display: inline-block;
color: #45505b;
line-height: 1;
margin-right: 20px;
transition: 0.3s;

}

#hero .social-links a:hover {
color: #0563bb;
;
}



/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
padding: 60px 0;
overflow: hidden;
}

.section-title {
text-align: center;
padding-bottom: 30px;
}

.section-title h2 {
font-size: 32px;
font-weight: bold;
margin-bottom: 20px;
padding-bottom: 20px;
position: relative;
color: #45505b;
}

.section-title h2::before {
content: "";
position: absolute;
display: block;
width: 120px;
height: 1px;
background: #ddd;
bottom: 1px;
left: calc(50% - 60px);
}

.section-title h2::after {
content: "";
position: absolute;
display: block;
width: 40px;
height: 3px;
background: var(--main-gold);
bottom: 0;
left: calc(50% - 20px);
}

.section-title p {
margin-bottom: 0;
}

/* ABOUT */

.about{
background-size: cover;
position: relative;
z-index: 0;
}

.about-card{
box-shadow: 2px 4px 12px rgba(0,0,0,.08);
transition: all .3s cubic-bezier(0,0,.5,1);
position: relative;
overflow: hidden;
background-color: black;
border-radius: 25px;
padding: 20px;
margin: 20px;
white-space: normal;
}

.answer{
color: var(--main-gold) !important;
margin-bottom: 10px !important;
}


.about::before{
content: "";
background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
position: absolute;
bottom: 0;
top: 0;
left: 0;
right: 0;
}

.about h2 {
color: var(--main-white);
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.about p {
color: var(--main-white);
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.about .content ul {
list-style: none;
padding: 0;
color: var(--main-white);
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.about .content ul li {
margin-bottom: 20px;
display: flex;
align-items: center;
color: #ffc107;
letter-spacing: 1px;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.about .content ul strong {
margin-right: 10px;
color: var(--main-white);

font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.about .content ul i {
font-size: 16px;
margin-right: 5px;
color: white;
line-height: 0;
}

.about .content p:last-child {
margin-bottom: 0;
}

.about-icon{
z-index: 100;
width: 60px;
float: right;
}

/* Skills */

.skills{
background-size: cover;
position: relative;
z-index: 0;
background: linear-gradient(80deg, var(--main-white), 85%, pink);
}

.skills .section-title h2::before {
content: "";
position: absolute;
display: block;
width: 120px;
height: 1px;
background: var(--main-gray);
bottom: 1px;
left: calc(50% - 60px);
}

.skills__container {
display: flex;
justify-content: space-evenly;
flex-wrap: nowrap;

}

.skills__item {
width: 1rem;
padding: 1rem;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
transition: all .3s;
border: 1px solid transparent;
}

.skills .progress {
height: 60px;
display: block;
background: none;
border-radius: 0;
}

.skills__icon {
width: 2rem;
height: 2rem;
object-fit: contain;
}

.skills .progress .skill {
padding: 10px 0;
margin: 0;
text-transform: uppercase;
display: block;
font-weight: 600;
font-family: "Poppins", sans-serif;
color: #45505b;
}

.skills .progress .skill .val {
float: right;
font-style: normal;
}

.skills .progress-bar-wrap {
background: #f2f3f5;
}

.skills .progress-bar {
width: 1px;
height: 10px;
transition: 0.9s;
background-color: #0563bb;
}

.card-skill{
box-shadow: 2px 4px 12px rgba(0,0,0,.08);
transition: all .3s cubic-bezier(0,0,.5,1);
position: relative;
overflow: hidden;
background-color: #fff;
border-radius: 25px;
padding: 20px;
margin: 20px;
white-space: normal;
}

/*--------------------------------------------------------------
# Resume
--------------------------------------------------------------*/

.resume{
background: linear-gradient(90deg, #0f3443, #34e69f);
}

#experiencia-title{
color: var(--main-white);
}
.resume .resume-title {
font-size: 26px;
font-weight: 700;
margin-top: 20px;
margin-bottom: 20px;
color: #45505b;
}

.resume .resume-item {
padding: 0 0 20px 20px;
margin-top: -2px;
border-left: 2px solid #0563bb;
position: relative;
}

.resume .resume-item h4 {
line-height: 18px;
font-size: 18px;
font-weight: 600;
text-transform: uppercase;
font-family: "Poppins", sans-serif;
color: #0563bb;
margin-bottom: 10px;
}

.resume .resume-item h5 {
font-size: 16px;
padding: 5px 15px;
display: inline-block;
font-weight: 600;
margin-bottom: 10px;
}

.resume .resume-item ul {
padding-left: 20px;
}

.resume .resume-item ul li {
padding-bottom: 10px;
}

.resume .resume-item:last-child {
padding-bottom: 0;
}

.resume .resume-item::before {
content: "";
position: absolute;
width: 16px;
height: 16px;
border-radius: 50px;
left: -9px;
top: 0;
background: #fff;
border: 2px solid #0563bb;
}

.experience-icon{
width: 150px;
margin-bottom: 20px;
}

/* Footer */

#footer {
background: var(--footer-grey);
color: var(--main-white);
font-size: 14px;
text-align: center;
padding-bottom: 30px;
}

#footer h3 {
font-size: 36px;
font-weight: 700;
position: relative;
font-family: "Poppins", sans-serif;
padding: 0;
margin: 0 0 15px 0;
}

.line{
width: 100%;
position: relative;
height: 2px;
background: var(--main-gold);

}




#footer p {
font-size: 20px !important;
font-style: italic;
padding: 0;

}

#footer .social-links {
margin: 40px 0 40px 0;
}

#footer .social-links a {
font-size: 22px;
display: inline-block;
background: #0563bb;
color: #fff;
line-height: 1;
padding: 8px 0;
margin-right: 16px;
border-radius: 50%;
text-align: center;
width: 36px;
height: 36px;
transition: 0.3s;
}

#footer .social-links a:hover {
background: #0678e3;
color: #fff;
text-decoration: none;
}

#footer .copyright {
margin: 0 0 5px 0;
}

#footer .credits {
font-size: 16px;
}

    
}












/* Para PC */
@media screen and (min-width: 1024px){   
    

  [data-aos-delay] {
    transition-delay: 0 !important;
  }

  /* NAVBAR */
.nav{
position: absolute;
display: block;
justify-content: center;
position: fixed;
top: 0;
left: 0;
width: 100%;
background: var(--main-black);
box-shadow: 0 2px 0 var(--main-gold);
z-index: 10;
}


li{
margin-right: 1rem;
}

.nav-list{
display: flex;
margin-right: 2rem;
margin-bottom: 0px;
}

ul{
list-style: none
}


.nav-list a {
display: block;
font-size: 1rem;
padding: 1rem;
text-decoration: none;
color: var(--main-white);

}


.nav-list a:hover{
background-color: var(--main-gold);
transition: all 0.3s;
color: var(--main-white);
}
.nav-list a:focus{
background-color: var(--secondary-gray);
}

.nav-list a i{
margin-right: 0.5rem;

}



/* HERO */

.btn-download {
display: inline-block;
padding: 15px 22px;
background: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
border: 1px solid var(--main-blue);
margin-top: 50px;
margin-bottom: 5px;
color: #fff;
text-decoration: none;
font-size: 18px;
border-radius: 50px;
box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
transition: all background-color 0.4s ease-in-out;
}

.btn-download:hover {
background-image: linear-gradient(30deg, #3a3d40 0%, #181719 100%);
color: var(--main-gold);
transition: all 1s;
}

#update{
font-size: 12px !important;
margin-bottom: 20px !important;
}

#email{
font-size: 16px !important;
font-weight: 500 !important;
color: var(--main-black) !important;
padding-top: 0px !important;
padding: 23px !important;
}

#hero {
width: 100%;
height: 100vh;
background: url("../img/hero-bg.jpg") top right no-repeat;
background-size: cover;
position: relative;
z-index: 0;

}

.container{
padding: 1.5rem;
text-align: center;
z-index: 1;
}


#hero:before {
content: "";
background: rgba(255, 255, 255, 0.8);
position: absolute;
bottom: 0;
top: 0;
left: 0;
right: 0;
}

#hero h1 {
margin: 0;

font-size: 40px;
font-weight: 700;
line-height: 56px;
color: var(--main-gray);
z-index: 1;
}

#hero p {
color: #45505b;
margin: 15px 0 0 0;
font-size: 26px;
font-family: "Poppins", sans-serif;
}

#hero p span {
color: #0563bb;
letter-spacing: 1px;
}

#hero .social-links {
margin-top: 30px;
}

#hero .social-links a {
font-size: 34px;
display: inline-block;
color: #45505b;
line-height: 1;
margin-right: 20px;
transition: 0.3s;

}

#hero .social-links a:hover {
color: #0563bb;
;
}



/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
padding: 60px 0;
overflow: hidden;
}

.section-title {
text-align: center;
padding-bottom: 30px;
}

.section-title h2 {
font-size: 32px;
font-weight: bold;
margin-bottom: 20px;
padding-bottom: 20px;
position: relative;
color: #45505b;
}

.section-title h2::before {
content: "";
position: absolute;
display: block;
width: 120px;
height: 1px;
background: #ddd;
bottom: 1px;
left: calc(50% - 60px);
}

.section-title h2::after {
content: "";
position: absolute;
display: block;
width: 40px;
height: 3px;
background: var(--main-gold);
bottom: 0;
left: calc(50% - 20px);
}

.section-title p {
margin-bottom: 0;
}

/* ABOUT */

.about{
background-size: cover;
position: relative;
z-index: 0;
}

.about-card{
box-shadow: 2px 4px 12px rgba(0,0,0,.08);
transition: all .3s cubic-bezier(0,0,.5,1);
position: relative;
overflow: hidden;
background-color: black;
border-radius: 25px;
padding: 20px;
margin: 20px;
white-space: normal;
}

.answer{
color: var(--main-gold) !important;
margin-bottom: 10px !important;
}


.about::before{
content: "";
background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
position: absolute;
bottom: 0;
top: 0;
left: 0;
right: 0;
}

.about h2 {
color: var(--main-white);
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.about p {
color: var(--main-white);
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.about .content ul {
list-style: none;
padding: 0;
color: var(--main-white);
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.about .content ul li {
margin-bottom: 20px;
display: flex;
align-items: center;
color: #ffc107;
letter-spacing: 1px;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.about .content ul strong {
margin-right: 10px;
color: var(--main-white);

font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.about .content ul i {
font-size: 16px;
margin-right: 5px;
color: white;
line-height: 0;
}

.about .content p:last-child {
margin-bottom: 0;
}

.about-icon{
z-index: 100;
width: 60px;
float: right;
}

/* Skills */

.skills{
background-size: cover;
position: relative;
z-index: 0;
background: linear-gradient(80deg, var(--main-white), 85%, pink);
}

.skills .section-title h2::before {
content: "";
position: absolute;
display: block;
width: 120px;
height: 1px;
background: var(--main-gray);
bottom: 1px;
left: calc(50% - 60px);
}

.skills__container {
display: flex;
justify-content: space-evenly;
flex-wrap: nowrap;

}

.skills__item {
width: 1rem;
padding: 1rem;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
transition: all .3s;
border: 1px solid transparent;
}

.skills .progress {
height: 60px;
display: block;
background: none;
border-radius: 0;
}

.skills__icon {
width: 2rem;
height: 2rem;
object-fit: contain;
}

.skills .progress .skill {
padding: 10px 0;
margin: 0;
text-transform: uppercase;
display: block;
font-weight: 600;
font-family: "Poppins", sans-serif;
color: #45505b;
}

.skills .progress .skill .val {
float: right;
font-style: normal;
}

.skills .progress-bar-wrap {
background: #f2f3f5;
}

.skills .progress-bar {
width: 1px;
height: 10px;
transition: 0.9s;
background-color: #0563bb;
}

.card-skill{
box-shadow: 2px 4px 12px rgba(0,0,0,.08);
transition: all .3s cubic-bezier(0,0,.5,1);
position: relative;
overflow: hidden;
background-color: #fff;
border-radius: 25px;
padding: 20px;
margin: 20px;
white-space: normal;
}

/*--------------------------------------------------------------
# Resume
--------------------------------------------------------------*/

.resume{
background: linear-gradient(90deg, #0f3443, #34e69f);
}

#experiencia-title{
color: var(--main-white);
}
.resume .resume-title {
font-size: 26px;
font-weight: 700;
margin-top: 20px;
margin-bottom: 20px;
color: #45505b;
}

.resume .resume-item {
padding: 0 0 20px 20px;
margin-top: -2px;
border-left: 2px solid #0563bb;
position: relative;
}

.resume .resume-item h4 {
line-height: 18px;
font-size: 18px;
font-weight: 600;
text-transform: uppercase;
font-family: "Poppins", sans-serif;
color: #0563bb;
margin-bottom: 10px;
}

.resume .resume-item h5 {
font-size: 16px;
padding: 5px 15px;
display: inline-block;
font-weight: 600;
margin-bottom: 10px;
}

.resume .resume-item ul {
padding-left: 20px;
}

.resume .resume-item ul li {
padding-bottom: 10px;
}

.resume .resume-item:last-child {
padding-bottom: 0;
}

.resume .resume-item::before {
content: "";
position: absolute;
width: 16px;
height: 16px;
border-radius: 50px;
left: -9px;
top: 0;
background: #fff;
border: 2px solid #0563bb;
}

.experience-icon{
width: 150px;
margin-bottom: 20px;
}

/* Footer */

#footer {
background: var(--footer-grey);
color: var(--main-white);
font-size: 14px;
text-align: center;
padding-bottom: 30px;
}

#footer h3 {
font-size: 36px;
font-weight: 700;
position: relative;
font-family: "Poppins", sans-serif;
padding: 0;
margin: 0 0 15px 0;
}

.line{
width: 100%;
position: relative;
height: 2px;
background: var(--main-gold);

}




#footer p {
font-size: 20px !important;
font-style: italic;
padding: 0;

}

#footer .social-links {
margin: 40px 0 40px 0;
}

#footer .social-links a {
font-size: 22px;
display: inline-block;
background: #0563bb;
color: #fff;
line-height: 1;
padding: 8px 0;
margin-right: 16px;
border-radius: 50%;
text-align: center;
width: 36px;
height: 36px;
transition: 0.3s;
}

#footer .social-links a:hover {
background: #0678e3;
color: #fff;
text-decoration: none;
}

#footer .copyright {
margin: 0 0 5px 0;
}

#footer .credits {
font-size: 16px;
}


}

